
<div id="add-aid-popup" class="popup-container">
	<div class="l-pop-up" id="add-aid">
		<div class="close-button-container">
			<i class="fa-solid fa-square-xmark close-popup-button" data-popup-id="add-aid-popup"></i>
		</div>
			<h3>Registrera hjälpmedel på @Model.SelectedUnit.Name</h3>
			<div class="add-aid-row">
				<div>
					<div class="add-form">
						<label for="registered">Registreringsdatum</label>
						<input type="text" id="add-aid-registered" name="registered" value="" readonly class="disabled-input">
					</div>
					<div class="add-form">
						<label for="id">Registreringsnummer: *</label>
						<input type="text" id="add-aid-id" name="id" required>
					</div>
					<div class="add-form">
						<label for="category">Kategori: *</label>
						<select id="add-category-list" name="category">
							@foreach (var category in Model.Categories)
							{
								<option value="@category">@category</option>
							}
							<option value="new-category" id="add-new-category">LÄGG TILL NY</option>
						</select>
					</div>
					<div class="add-form">
						<label for="product-name">Produktnamn: *</label>
						<input type="text" id="add-product-name" name="productName" required>
					</div>
				</div>
				<div>
					<div class="add-form">
						<label for="sectionId">Avdelning eller förråd: *</label>
						<select id="add-section-list" name="sectionId">
							@foreach (var s in Model.Sections)
							{
								<option value="@s.Id">@s.Name</option>
							}
						</select>
					</div>
					<div class="add-form">
						<label for="patientId">Koppla till patient:</label>
						<select id="add-patient-list" name="patientId">
							<option value="">-</option>
							@foreach (var patient in Model.Patients)
							{
								<option value="@patient.Id" data-section-id="@patient.SectionId">@patient.PatientNumber @patient.Name</option>
							}
						</select>
					</div>
					<div class="add-form">
						<label for="inspection">Nästa besiktning:</label>
						<input type="month" id="add-inspection" name="inspection">
					</div>
					<div class="add-form">
						<label for="comment">Kommentar:</label>
						<input id="add-comment" name="comment">
					</div>
				</div>
			</div>
			<div class="popup-buttons">
				<input type="hidden" id="add-aid-unit-id" name="unitId" value="@Model.SelectedUnit.Id">
				<button type="submit" id="add-aid-button">Registrera</button>
				<button type="button" id="cancel-add-aid">Avbryt</button>
			</div>
	</div>
</div>
