<div id="add-note-popup" class="popup-container">
    <div class="close-button-container">
        <i class="fa-solid fa-square-xmark close-popup-button" data-popup-id="add-note-popup"></i>
    </div>
    <div class="pop-up">
        <h3>Lägg till anteckning på Anslagstavlan</h3>
        <div class="add-form">
            <label for="Note"></label>
            <input type="text" id="Note" name="Note" required>
            <input type="hidden" id="UnitId" name="UnitId" value="@Model.SelectedUnit.Id" />
        </div>
        <div class="popup-buttons">
            <button type="button" id="add-note-button">Lägg till</button>
            <button type="button" id="cancel-add-note">Avbryt</button>
        </div>
    </div>
</div>

<div id="show-all-notes" class="popup-container">
    <div class="pop-up">
        <div class="close-button-container">
            <i class="fa-solid fa-square-xmark close-popup-button" data-popup-id="show-all-notes"></i>
        </div>
        <h3>Anslagstavlan</h3>
        <div id="all-notes-container">
            @foreach (var note in Model.NoteBoards)
            {
                var trimmedDate = note.Date.ToString("yyyy-MM-dd");
                <div class="note-container" data-note-id="@note.Id">
                    <div class="all-note">
                        <b>@trimmedDate</b>
                        <p class="long-message">@note.Note</p>
                    </div>
                    <button class="delete-note" data-note-id="@note.Id"><i class="fa-solid fa-trash"></i></button>
                </div>
            }
        </div>
        <div class="popup-buttons">
            <button id="cancel-show-notes">Stäng</button>
        </div>
    </div>
</div>