@model Hjalpmedelskollen.ViewModels.DocumentViewModel;

@{
	ViewData["Title"] = "Dokument";
}

@section Scripts {
	<script src="~/js/document.js"></script>
}

<div id="document-container">
	<div id="document-aside">
		<h2>Dokument</h2>
		@foreach (var folder in Model.Folders)
		{
			<b class="doc-folder"><i class="fa-solid fa-folder" data-folder-id="@folder.Id"></i>@folder.Name</b>

			<ul class="doc-folder-content">
			@foreach (var document in Model.Documents)
				{
					@if(document.FolderId == folder.Id)
					{
						<li class="doc-file" data-document-id="@document.Id" data-file-path="@document.FilePath" data-document-name="@document.Name">@document.Name</li>
					}
				}
			</ul>
		}
	</div>
	<div id="document-content">
			<h3>Välj ett dokument för att visa innehållet.</h3>
			<iframe src="" width="1000" height="600" style="border: none;" id="document-viewer"></iframe>
	</div>
</div>