@model Hjalpmedelskollen.ViewModels.AidsByUnitViewModel

@{
    ViewData["Title"] = "Översikt";
}

<div id="aids-by-unit">

    <main id="aids-overview">
        <div class="overview-content">
            <h2>Hjälpmedelsöversikt: @Model.DisplayedUnit</h2>

            <div>
                <label for="category">Kategori:</label>
                <select id="category" name="category">
                    <option value="Alla">Alla</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Name">@category.Name</option>
                    }
                </select>
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="Alla">Alla</option>
                    <option value="Ledigt">Ledigt</option>
                    <option value="Upptaget">Upptaget</option>
                </select>
            </div>

            <div class="table-container">
                <table class="table-style">
                    <tr class="table-header">
                        <th>Registreringsnummer</th>
                        <th>Kategori</th>
                        <th>Produktnamn</th>
                        <th>Status</th>
                        <th>Plats</th>
                        <th>Besiktning</th>
                        <th>Kommentar</th>
                    </tr>
                    @foreach (var aid in Model.Aids)
				    {
                        string backgroundColor = "";
                        string status = aid.Status == true ? "Ledigt" : "Upptaget";

                        if (aid.Inspection.Month == DateTime.Now.Month && aid.Inspection.Year == DateTime.Now.Year)
                        {
                            backgroundColor = "yellow-background";
                        }
                        else if (aid.Inspection < DateTime.Now)
                        {
                            backgroundColor = "red-background";
                        }
                        else if (aid.Inspection > DateTime.Now.AddMonths(1))
                        {
                            backgroundColor = "green-background";
                        }

                        string inspectionDate = aid.Inspection.ToString("yyyy-MM");

                        <tr class="aid-row" data-category="@aid.Category" data-status="@status">
                            <td class="m-column">@aid.Id</td>
                            <td class="m-column">@aid.Category</td>
                            <td class="m-column">@aid.ProductName</td>
                            <td class="m-column">@status</td>
						    <td class="m-column">@aid.Location</td>
                            <td class="@backgroundColor s-column">@inspectionDate</td>
						    <td class="l-column">@aid.Comment</td>
					    </tr>
				    }
                </table>
            </div>
        </div>
    </main>

    <aside id="unit-aside">
        <div class="unit-selection">
            <h3>Vald enhet: @Model.DisplayedUnit </h3>
            <button id="unit-button">Byt enhet</button>
            <button id="add-aid-button">Registrera hjälpmedel</button>
            <button id="qr-button">Skanna QR-kod</button>
        </div>
        <div class="divider"></div>
        <div class="unit-reminder">
            <h3>Anslagstavlan</h3>
            <i>Här kommer du kunna lägga in påminnelser och information om @Model.DisplayedUnit.</i>
        </div>

    </aside>


</div>
 
<div id="unit-popup">
    <div class="pop-up">
        <form method="post" action="/Home/AidsByUnit" id="select-unit-form">
            <h3>Välj enhet:</h3>
            <select id="unit-list" name="unitId" multiple size="5">
                @foreach (var unit in Model.Units)
                {
                    <option value="@unit.Id">@unit.Name</option>
                }
            </select>
            <div class="popup-buttons">
                <button type="submit" id="select-unit-button">Välj</button>
                <button type="button" id="cancel-select-unit">Avbryt</button>
            </div>
        </form>
    </div>
</div>

<div id="aid-popup">
    <div class="l-pop-up" id="add-aid">
		<form method="post" action="/Home/RegisterAid" id="register-aid-form">
			<h3>Registrera hjälpmedel:</h3>
            <div class="add-aid-row">
                <div>
                    <div class="add-form">
                        <label for="unit">Enhet:</label>
                        <input type="text" id="unit" name="unit" value="@Model.DisplayedUnit" readonly disabled>
                    </div>

                    <div class="add-form">
                        <label for="id">Registreringsnummer: *</label>
                        <input type="text" id="id" name="id" required>
                    </div>
                    <div class="add-form">
				        <label for="category">Kategori: *</label>
				        <select id="category-list" name="category">
					        @foreach (var category in Model.Categories)
					        {
						        <option value="@category.Name">@category.Name</option>
					        }
                            <option value="new-category" id="add-new-category">LÄGG TILL NY</option>
				        </select>
			        </div>
                    <div class="add-form">
				        <label for="product-name">Produktnamn: *</label>
				        <input type="text" id="product-name" name="productName" required>
			        </div>
                </div>
                <div>
                    <div class="add-form">
				        <label for="location">Plats:</label>
				        <input type="text" id="location" name="location">
			        </div>
                    <div class="add-form">
				        <label for="inspection">Nästa besiktning:</label>
				        <input type="month" id="inspection" name="inspection">
			        </div>
                    <div class="add-form">
				        <label for="comment">Kommentar:</label>
				        <input id="comment" name="comment">
			        </div>
                    <div class="add-form">
                        <label for="qr">QR-kod: *</label>
                        <select id="qr" name="qr">
							<option value="no">Nej</option>
							<option value="yes">Ja</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="popup-buttons">
				<button type="submit" id="add-aid-button">Registrera</button>
				<button type="button" id="cancel-add-aid">Avbryt</button>
			</div>
		</form>
	</div>
</div>

<div id="new-category-popup">
    <div class="pop-up">
			<h3>Lägg till ny kategori:</h3>
			<div>
				<label for="new-category"></label>
				<input type="text" id="new-category" name="newCategory" required>
			</div>
			<div class="popup-buttons">
				<button type="submit" id="add-category-button">Lägg till</button>
				<button type="button" id="cancel-add-category">Avbryt</button>
			</div>
	</div>
</div>

