@model Hjalpmedelskollen.ViewModels.AidsByUnitViewModel

@{
    ViewData["Title"] = "Översikt";
}

<div class="small-nav">
    <ul>
        <li>@Model.SelectedUnit.Name.ToUpper()</li>
        <li id="change-unit" class="small-li">Byt enhet</li>
        <li id="display-sections" class="small-li">Avdelningar</li>
        <li id="display-patients" class="small-li">Hantera patienter</li>
        <li id="add-new-aid" class="small-li">Registrera hjälpmedel</li>
    </ul>
</div>
<div id="aids-by-unit">
    <div id="mobile-buttons">
        <h1>@Model.SelectedUnit.Name</h1>
        <button id="mobile-change-unit">Byt enhet</button>
        <button id="mobile-add-new-aid" data-selected-unit="@Model.SelectedUnit.Id">Registrera hjälpmedel</button>
        <button id="qr-button">Skanna QR-kod</button>
        <span class="divider"></span>
    </div>
    <main id="aids-overview">
        <div class="overview-content">
            <h1 class="headline">@Model.SelectedUnit.Name</h1>
            <h2>Hjälpmedelsöversikt</h2>
            <p>Antal registrerade hjälpmedel: @Model.Aids.Count()</p>
                <div class="filter-selections">
                <div class="selection">
                    <label for="section">Avdelning & förråd:</label>
                    <select id="select-section" name="section">
                        <option value="all">Alla</option>
                        @foreach (var s in Model.Sections)
                        {
                            <option value="@s.Id">@s.Name</option>
                        }
                    </select>
                </div>
                <div class="selection">
                    <label for="patient">Patient:</label>
                    <select id="select-patient" name="patient">
                        <option value="all">Alla</option>
                        @foreach (var patient in Model.Patients)
                        {
                            <option value="@patient.Id">@patient.PatientNumber @patient.Name</option>
                        }
                    </select>
                </div>
                    <div class="selection">
                        <label for="category">Kategori:</label>
                        <select id="select-category" name="category">
                            <option value="all">Alla</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Name">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
            <div class="table-container">
                <table class="table-style" id="aid-table">
                    <tr class="table-header">
                        <th title="Unikt nummer på hjälpmedlet">Registreringsnummer</th>
                        <th title="Samlingskategorin som hjälpmedlet tillhör (exempelvis rollator, rullstol)">Kategori</th>
                        <th title="Produktnamn för hjälpmedlet (exempelvis Futura 600, Cross)">Produktnamn</th>
                        <th title="Plats där hjälpmedlet finns på enheten">Plats</th>
                        <th title="Tidpunkt för hjälpmedel behöver besiktigas nästa gång">Nästa besiktning</th>
                        <th title="Övrig kommentar om hjälpmedlet">Kommentar</th>
                    </tr>
                    @foreach (var aid in Model.Aids)
				    {
                        string backgroundColor = "";
                        string inspectionDate = string.Empty;
                        string icon = "";

                        if (aid.Inspection.HasValue)
                        {
                            inspectionDate = aid.Inspection.Value.ToString("yyyy-MM");

                            if (aid.Inspection.Value.Month == DateTime.Now.Month && aid.Inspection.Value.Year == DateTime.Now.Year)
                            {
                                backgroundColor = "yellow-background";
                                icon = "fa-solid fa-exclamation";
                            }
                            else if (aid.Inspection.Value < DateTime.Now)
                            {
                                backgroundColor = "red-background";
                                icon = "fa-solid fa-xmark";
                            }
                            else if (aid.Inspection.Value > DateTime.Now.AddMonths(1))
                            {
                                backgroundColor = "green-background";
                                icon = "fa-solid fa-check";
                            }
                        }
                        else
                        {
                            backgroundColor = "default-background";
                            inspectionDate = " ";
                        }

                        <tr class="aid-row" data-id="@aid.Id" data-category="@aid.Category" data-registered="@aid.Registered" 
                                            data-unit-id="@aid.Section.UnitId" data-section-id="@aid.SectionId" data-patient="@aid.PatientId" 
                                            data-product-name="@aid.ProductName" data-comment="@aid.Comment" data-inspection="@inspectionDate"
                                            data-patient="@aid.PatientId" data-section="@aid.SectionId">
                            <td class="s-column">@aid.Id</td>
                            <td class="m-column">@aid.Category</td>
                            <td class="m-column">@aid.ProductName</td>
						    <td class="l-column">
                                @if (aid.Patient != null)
                                {
                                    <i class="fa-solid fa-circle red-circle"></i>@aid.Patient.Name @:| @aid.Section.Name
                                }
                                else
								{
                                    <i class="fa-solid fa-circle green-circle"></i> @aid.Section.Name
								}
                              
                            </td>
                            <td class="@backgroundColor s-column">
                                <div class="inspection-layout">
                                    @inspectionDate<i class="@icon"></i>
                                </div>
                            </td>
						    <td class="l-column">@aid.Comment</td>
					    </tr>
				    }
                </table>
            </div>
        </div>
    </main>
    <aside id="unit-aside">
        <div class="unit-noteboard">
            <h3>Anslagstavlan</h3>
				<div>
                @for (int i = 0; i < Model.NoteBoards.Count && i < 5; i++)
                {
                    var note = Model.NoteBoards[i];
                    var trimmedDate = note.Date.ToString("yyyy-MM-dd");

                    <div class="note-container">
                        <div class="note">
                            <b>@trimmedDate</b>
                            <p class="long-message">@note.Note</p>
                        </div>
                    </div>
                }
				</div>
            <div class="noteboard-buttons">
                <button id="display-new-note-button"><i class="fa-solid fa-plus"></i> Lägg till</button>
                <button id="show-all-notes-button">Visa alla</button>
            </div>
        </div>
    </aside>
</div>

<div id="patients-popup" class="popup-container">
    <div class="l-pop-up">
        <h3>Patienter på @Model.SelectedUnit.Name</h3>
        <table class="table-style" id="patient-table">
            <tr class="table-header">
                <th>Patientnummer</th>
                <th>Namn</th>
                <th>Avdelning</th>
            </tr>
            @foreach (var patient in Model.Patients)
            {
                <tr class="patient-row" data-patient-number="@patient.PatientNumber" data-name="@patient.Name" data-section="@patient.SectionId">
                    <td class="s-column">@patient.PatientNumber</td>
                    <td class="m-column">@patient.Name</td>
                    <td class="m-column">@Model.Sections.FirstOrDefault(s => s.Id == patient.SectionId).Name</td>
                </tr>
            }
        </table>
        <div class="popup-buttons">
            <button id="add-patient-button">Lägg till patient</button>
            <button id="close-patients-popup">Stäng</button>
        </div>
    </div>
</div>

<div id="update-patient-popup" class="popup-container">
    <div class="pop-up">
        <form method="post" action="/Home/UpdatePatientToDatabase" id="update-patient-form">
            <h3>Uppdatera patient</h3>
            <div class="add-form">
                <label for="update-patient-number">Patientnummer:</label>
                <input type="text" id="update-patient-number" name="PatientNumber" required>
            </div>
            <div class="add-form">
                <label for="update-patient-name">Namn:</label>
                <input type="text" id="update-patient-name" name="Name" required>
            </div>
            <div class="add-form">
                <label for="update-patient-section">Avdelning:</label>
                <select id="update-patient-section" name="SectionId">
                    @foreach (var s in Model.Sections.Where(s => s.Name != "Förråd"))
                    {
                        <option value="@s.Id">@s.Name</option>
                    }
                </select>
            </div>
            <div class="popup-buttons">
                <input type="hidden" name="unitId" value="@Model.SelectedUnit.Id" />
                <button type="submit" id="update-patient-button">Spara</button>
                <button type="button" id="cancel-update-patient">Avbryt</button>
            </div>
        </form>
    </div>
</div>

<div id="add-patient-popup" class="popup-container">
    <div class="pop-up">
        <form method="post" action="/Home/AddPatientToDatabase" id="add-patient-form">
            <h3>Lägg till patient på @Model.SelectedUnit.Name</h3>
            <div class="add-form">
                <label for="patient-number">Patientnummer:</label>
                <input type="text" id="patient-number" name="PatientNumber" required>
            </div>
            <div class="add-form">
                <label for="patient-name">Namn:</label>
                <input type="text" id="patient-name" name="Name" required>
            </div>
            <div class="add-form">
                <label for="patient-section">Avdelning:</label>
                <select id="patient-section" name="sectionId">
                    @foreach (var s in Model.Sections.Where(s => s.Name != "Förråd"))
                    {
                        <option value="@s.Id">@s.Name</option>
                    }
                </select>
            </div>

            <div class="popup-buttons">
                <input type="hidden" name="unitId" value="@Model.SelectedUnit.Id" />
                <button type="submit" id="add-patient-button">Spara</button>
                <button type="button" id="cancel-add-patient">Avbryt</button>
            </div>
        </form>
    </div>
</div>


<partial name="_AddAidPopup" model="Model" />
<partial name ="_NotePopup" model = "Model" />
<partial name="_UpdateAidPopup" model="Model" />
<partial name="_ScanQrPopup" model="Model" />
<partial name="_SelectUnitPopup" model="Model" />
<partial name="_NewCategoryPopup" model="Model" />
<!--<partial name="_PatientPopup" model="Model" />-->


