@model Hjalpmedelskollen.ViewModels.AidsByUnitViewModel

@{
    ViewData["Title"] = "Översikt";
}

<div class="small-nav">
    <ul>
        <li>Vald enhet: @Model.SelectedUnit.Name</li>
        <li id="change-unit" class="small-li">Byt enhet</li>
        <li id="add-new-aid" class="small-li">Registrera hjälpmedel</li>
    </ul>
</div>

<div id="aids-by-unit">

    <div id="mobile-buttons">
        <p>Vald enhet: @Model.SelectedUnit.Name</p>
        <button id="mobile-change-unit">Byt enhet</button>
		<button id="mobile-add-new-aid">Registrera hjälpmedel</button>
        <button id="qr-button">Skanna QR-kod</button>

    </div>

    <main id="aids-overview">
        <div class="overview-content">
            <h2>Hjälpmedelsöversikt</h2>
            <p>@Model.SelectedUnit.Name | Antal registrerade hjälpmedel: @Model.Aids.Count</p>
            <div>
                <label for="category">Kategori:</label>
                <select id="category" name="category">
                    <option value="Alla">Alla</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Name">@category.Name</option>
                    }
                </select>
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="Alla">Alla</option>
                    <option value="Ledigt">Ledigt</option>
                    <option value="Upptaget">Upptaget</option>
                </select>
            </div>

            <div class="table-container">
                <table class="table-style">
                    <tr class="table-header">
                        <th>Registreringsnummer</th>
                        <th>Kategori</th>
                        <th>Produktnamn</th>
                        <th>Status</th>
                        <th>Plats</th>
                        <th>Besiktning</th>
                        <th>Kommentar</th>
                    </tr>
                    @foreach (var aid in Model.Aids)
				    {
                        string backgroundColor = "";
                        string inspectionDate = string.Empty;
                        string status = aid.Status == true ? "Ledigt" : "Upptaget";

                        if (aid.Inspection.HasValue)
                        {
                            inspectionDate = aid.Inspection.Value.ToString("yyyy-MM");

                            if (aid.Inspection.Value.Month == DateTime.Now.Month && aid.Inspection.Value.Year == DateTime.Now.Year)
                            {
                                backgroundColor = "yellow-background";
                            }
                            else if (aid.Inspection.Value < DateTime.Now)
                            {
                                backgroundColor = "red-background";
                            }
                            else if (aid.Inspection.Value > DateTime.Now.AddMonths(1))
                            {
                                backgroundColor = "green-background";
                            }
                        }
                        else
                        {
                            backgroundColor = "default-background";
                            inspectionDate = " ";
                        }

                        <tr class="aid-row" data-id="@aid.Id" data-category="@aid.Category" data-status="@status" data-qr="@aid.QrCode">
                            <td class="m-column">@aid.Id</td>
                            <td class="m-column">@aid.Category</td>
                            <td class="m-column">@aid.ProductName</td>
                            <td class="m-column">@status</td>
						    <td class="m-column">@aid.Location</td>
                            <td class="@backgroundColor s-column">@inspectionDate</td>
						    <td class="l-column">@aid.Comment</td>
					    </tr>
				    }
                </table>
            </div>
        </div>
    </main>

    <aside id="unit-aside">
        <div class="unit-reminder">
            <h3>Anslagstavlan</h3>
            <i>Här kommer du kunna lägga in påminnelser och information om @Model.SelectedUnit.Name.</i>
            <div class="popup-buttons">
                <button>Uppdatera</button>
            </div>
        </div>
    </aside>


</div>
 
<div id="unit-popup">
    <div class="pop-up">
        <form method="post" action="/Home/AidsByUnit" id="select-unit-form">
            <h3>Välj enhet</h3>
            <select id="unit-list" name="unitId" multiple size="5">
                @foreach (var unit in Model.Units)
                {
                    <option value="@unit.Id">@unit.Name</option>
                }
            </select>
            <div class="popup-buttons">
                <button type="submit" id="select-unit-button">Välj</button>
                <button type="button" id="cancel-select-unit">Avbryt</button>
            </div>
        </form>
    </div>
</div>

<div id="add-aid-popup">
    <div class="l-pop-up" id="add-aid">
		<form method="post" action="/Home/AddAidToDatabase" id="add-aid-form">
			<h3>Registrera hjälpmedel</h3>
            <div class="add-aid-row">
                <div>
                    <div class="add-form">
                        <label for="unit">Enhet:</label>
                        <input type="text" id="unit" name="unit" value="@Model.SelectedUnit.Name" readonly disabled>
                        <input type="hidden" id="unitId" name="unitId" value="@Model.SelectedUnit.Id">
                    </div>
                    <div class="add-form">
                        <label for="id">Registreringsnummer:</label>
                        <input type="text" id="id" name="id" required>
                    </div>
                    <div class="add-form">
				        <label for="category">Kategori:</label>
				        <select id="category-list" name="category">
					        @foreach (var category in Model.Categories)
					        {
						        <option value="@category.Name">@category.Name</option>
					        }
                            <option value="new-category" id="add-new-category">LÄGG TILL NY</option>
				        </select>
			        </div>
                    <div class="add-form">
				        <label for="product-name">Produktnamn:</label>
				        <input type="text" id="product-name" name="productName" required>
			        </div>
                    <div class="add-form">
						<label for="status">Status:</label>
						<select id="status" name="status">
							<option value="true">Ledigt</option>
							<option value="false">Upptaget</option>
						</select>
                    </div>
                </div>
                <div>
                    <div class="add-form">
				        <label for="location">Plats:</label>
				        <input type="text" id="location" name="location">
			        </div>
                    <div class="add-form">
				        <label for="inspection">Nästa besiktning:</label>
				        <input type="month" id="inspection" name="inspection">
			        </div>
                    <div class="add-form">
				        <label for="comment">Kommentar:</label>
				        <input id="comment" name="comment">
			        </div>
                    <div class="add-form">
                        <label for="qr">QR-kod:</label>
                        <select id="qr" name="qr">
							<option value="no">Nej</option>
							<option value="yes">Ja</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="popup-buttons">
				<button type="submit" id="add-aid-button">Registrera</button>
				<button type="button" id="cancel-add-aid">Avbryt</button>
			</div>
		</form>
	</div>
</div>

    <div id="add-aid-feedback">
		<div class="pop-up">
			<div>
                <p id="add-feedback-text"></p>
			</div>
			<div class="popup-buttons">
				<button type="button" id="ok-add-feedback">OK</button>
			</div>
		</div>
	</div>

<div id="update-aid-popup">
    <div class="l-pop-up" id="show-aid">
        <form method="post" action="/Home/UpdateAidToDatabase" id="update-aid-form">
            <h3>Uppdatera hjälpmedel</h3>
            <div class="update-aid-row">
                <div>
                    <div class="add-form">
                        <label for="unit">Enhet:</label>
                        <select id="update-aid-unit" name="unit">
                            @foreach (var unit in Model.Units)
                            {
                                <option value="@unit.Id">@unit.Name</option>
                            }
                        </select>
                        <input type="hidden" id="select-aid-unit" value="@Model.SelectedUnit.Name">
                        <input type="hidden" id="unitId" name="unitId" value="@Model.SelectedUnit.Id">
                    </div>
                    <div class="add-form">
                        <label for="update-id">Registreringsnummer:</label>
                        <input type="text" id="update-id" name="update-id" readonly>
                    </div>
                    <div class="add-form">
                        <label for="category">Kategori:</label>
                        <select id="update-category-list" name="category">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Name">@category.Name</option>
                            }
                            <option value="new-category" id="add-new-category">LÄGG TILL NY</option>
                        </select>
                    </div>
                    <div class="add-form">
                        <label for="product-name">Produktnamn:</label>
                        <input type="text" id="update-product-name" name="productName" required>
                    </div>
                    <div class="add-form">
                        <label for="status">Status:</label>
                        <select id="update-status" name="status">
                            <option value="Ledigt">Ledigt</option>
                            <option value="Upptaget">Upptaget</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="add-form">
                        <label for="location">Plats:</label>
                        <input type="text" id="update-location" name="location">
                    </div>
                    <div class="add-form">
                        <label for="inspection">Nästa besiktning:</label>
                        <input type="month" id="update-inspection" name="inspection">
                    </div>
                    <div class="add-form">
                        <label for="comment">Kommentar:</label>
                        <input id="update-comment" name="comment">
                    </div>
                    <div class="add-form">
                        <label for="qr">QR-kod:</label>
                        <select id="update-qr" name="qr">
                            <option value="Nej">Nej</option>
                            <option value="Ja">Ja</option>
                        </select>
                    </div>
                    <div class="add-form">
                        <label for="registered">Registrerad</label>
                        <input type="text" id="update-registered" value="" readonly disabled>
                    </div>
                </div>
            </div>
            <div class="popup-buttons">
                <button type="submit" id="update-aid-button" name="form-action" value="update">Spara</button>
                <button type="submit" id="delete-aid-button" name="form-action" value="delete">Ta bort</button>
                <button type="button" id="cancel-update-aid">Avbryt</button>
            </div>
        </form>
    </div>
</div>

<div id="new-category-popup">
    <div class="pop-up">
			<h3>Lägg till ny kategori</h3>
			<div>
				<label for="new-category"></label>
				<input type="text" id="new-category" name="newCategory" required>
			</div>
			<div class="popup-buttons">
				<button type="submit" id="add-category-button">Lägg till</button>
				<button type="button" id="cancel-add-category">Avbryt</button>
			</div>
	</div>
</div>

